<% layout('./layouts/boilerplate') %>

<div class="row">
    <div class="col-10 offset-1">
        <div class="alert alert-danger" role="alert">
           <h4 class="alert-heading">Error!@!!!</h4>
           <p><%=err.message%>
        
                <span>Error: </span>
                <% if(process.env.NODE_ENV !== 'production'){ %>
                    <span><%=err.stack%><</span>
                <%} %>
           </p>
        </div>
    </div>
</div>